<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :responser_name %>
    <%= form.text_field :responser_name, id: :response_responser_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :response_date %>
  </div>

  <div class="field">
    <%= form.label :read_time %>
    <%= form.text_field :read_time, id: :response_read_time %>
  </div>

  <div class="field">
    <%= form.label :desciption %>
    <%= form.text_field :desciption, id: :response_desciption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
